<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Qui suis-je ?</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <img src="/assets/imgs/js.jpg">
      </ion-col>
      <ion-col size="8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, ratione dignissimos accusantium, consectetur iste perspiciatis nobis minus maxime doloremque inventore commodi hic libero, esse blanditiis! Ipsa quis vitae optio! Saepe?</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Mon parcours</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, explicabo pariatur neque ex sapiente provident quasi id voluptatum veritatis ut porro soluta quas iusto, suscipit eaque consequatur corporis adipisci? Sunt.
        marvel ipsum
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
