<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Qui suis-je ?</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <img src="/assets/img/js.jpg">
      </ion-col>
      <ion-col size="8">
        <p>Bonjour, mon nom est Johnny Sins, j'ai 43 ans et je suis le PDG de GameShop-project. Vous m'avez peut-être déjà vu dans l'un de vos films préférer !</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Mon parcours</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Mettant lancé dans le monde du cinéma où j'ai pu incarner de multiple rôles, j'ai pu tester une multitude d'emploi et j'ai décidé de me lancer dans le monde du jeu vidéo.
           Nous avons donc décidé de créer GameShop-project, une entreprise de jeux vidéo qui regroupe des joueurs passionnés, mais aussi des jeux vidéo en tout genre !</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
