<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="game-list">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Jeux</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="photos">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="people"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>