<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/game-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Nouveau jeu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Affiche</ion-label>
    <ion-input type="text" [(ngModel)]="game.cover"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Titre</ion-label>
    <ion-input type="text" [(ngModel)]="game.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Genre</ion-label>
    <ion-input type="text" [(ngModel)]="game.genre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-input type="text" [(ngModel)]="game.releaseDate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Editeur</ion-label>
    <ion-input type="text" [(ngModel)]="game.editor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Age</ion-label>
    <ion-input type="text" [(ngModel)]="game.age"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Plateform</ion-label>
    <ion-input type="text" [(ngModel)]="game.platform"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea rows="20" [(ngModel)]="game.description"></ion-textarea>
  </ion-item>
  <p class="text-center">
    <ion-button (click)="add()">Envoyer</ion-button>
  </p>
</ion-content>
