.card {
    width: 95%;
    height: 200px ;
}

.neon-pc {
    box-shadow: 0.2px 0.2px 0.5px 0.8px rgb(219, 143, 28);
}
.neon-xbox {
    box-shadow: 0.2px 0.2px 0.5px 0.8px rgb(20, 201, 14);
}
.neon-playstation {
    box-shadow: 0.2px 0.2px 0.5px 0.8px rgb(14, 161, 219);
}
.neon-nintendo {
    box-shadow: 0.2px 0.2px 0.5px 0.8px rgb(216, 14, 14);
}