<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="card">
    <ion-card-header class="neon">
      <ion-card-title><h1>BIENVENU</h1></ion-card-title>
    </ion-card-header>
    <p>Nous sommes ravis de vous accueillir sur notre application, ici, 
      vous pourrez retrouver une multitude de jeux, sur diverse plateforme, 
      présents dans notre magasin GameShop. <br><br> En passant par notre sélection 
      de jeu rétro, à notre fabuleux nouvel arrivage de moderne, venez 
      vous amuser avec Mario, mangez tous avec Pac-Man ou encore dominez 
      les games sur Battlefiled 2042 !</p>
    <hr>
    <p>Cette application a été créé uniquement à but informatif, pour tout 
      achat ou vente de produit, merci de vous rendre directement en magasin.</p>
  </ion-card>
</ion-content>
